<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://soloud.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>soloud.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>soloud</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$soloud</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SoLoud.Models.SoLoudContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:soloud.database.windows.net,1433;Initial Catalog=soloud;User ID=soloudadmin@soloud.database.windows.net;Password=Aa1234567890!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SoLoud.Models.SoLoudContext, SoLoud" MigrationConfiguration="SoLoud.Migrations.Configuration, SoLoud" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:soloud.database.windows.net,1433;Initial Catalog=soloud;User ID=soloudadmin@soloud.database.windows.net;Password=Aa1234567890!" Name="Data Source=tcp:soloud.database.windows.net,1433;Initial Catalog=soloud;User Id=soloudadmin@soloud.database.windows.net;Password=Aa1234567890!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:soloud.database.windows.net,1433;Initial Catalog=soloud;User ID=soloudadmin@soloud.database.windows.net;Password=Aa1234567890!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:soloud.database.windows.net,1433;Initial Catalog=soloud;User Id=soloudadmin@soloud.database.windows.net;Password=Aa1234567890!;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:soloud.database.windows.net,1433;Initial Catalog=soloud;User Id=soloudadmin@soloud.database.windows.net;Password=Aa1234567890!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SoLoud.Models.SoLoudContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:soloud.database.windows.net,1433;Initial Catalog=soloud;User ID=soloudadmin@soloud.database.windows.net;Password=Aa1234567890!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="SoLoud.Models.SoLoudContext" />
  </ItemGroup>
</Project>